/* hero  */

#hero {
  padding: 2rem;
  background: url(../../assets/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: calc(80vh - 80px);
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  inset: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
#hero .hero-container {
  max-width: min(100% - 1rem, 45rem);
  position: relative;
}
.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero-container p {
  line-height: 1.7;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.hero-container h1,
.hero-container p {
  color: #fff;
}

.input-groups {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.5rem;
  width: min(100%, 80%);
  margin: 1rem auto;
  border-radius: 40px;
}
.input-groups input {
  width: 70%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0rem 1rem;
  color: #333;
}
.input-groups .search-buttons {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.search-buttons .btn {
  border-radius: 40px;
  font-size: 1.3rem;
  padding: 0.6rem 1.5rem;
}
.search-buttons div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  gap: 0.3rem;
}

@media (max-width: 520px) {
  .input-groups {
    padding: 1rem;
    flex-direction: column;
  }
  .input-groups input {
    width: 100%;
    text-align: center;

    padding: 1rem;
  }
  .search-buttons {
    margin-top: 1rem;
    flex-direction: column;
  }
  .search-buttons .btn {
    width: 100%;
  }
}
