#header {
  padding: 1rem 0rem;
  position: relative;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.068);
  z-index: 10;
  min-height: 80px;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header nav > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#header nav a span {
  color: var(--primary-color);
}

#header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 1rem;
}
#header nav ul a {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
#header .menuIcon {
  font-size: 1.2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 968px) {
  #header .menuIcon {
    display: block;
  }
  #header nav ul {
    position: fixed;
    right: -100%;
    top: calc(0px);
    width: 50%;
    min-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.61);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(236, 236, 236, 0.54);
    font-size: 1rem;
    z-index: 1;
    transition: all 0.5s ease-in;
  }
  #header nav ul.active {
    right: 0%;
  }
}

/* for overlay  */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
