html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", poppins;
}
:root {
  --primary-color: #5651e5;
}
body {
  font-size: 16px;
  font-family: "Raleway", poppins;
}

.container {
  max-width: min(100% - 2rem, 1270px);
  margin-inline: auto;
}
.btn {
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0, 0.2);
  border-bottom: none;
}
.d-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  height: auto;
}
.center-text {
  text-align: center;
}
.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
